/target/
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/thriftCompiler.xml
.idea/vcs.xml
project/target/
